<div class="card-container">
  <% cocktails.each do |cocktail| %>
  <div class="card-cocktail" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/1600x900/?<%=cocktail.name%>)">
    <%= link_to "#{cocktail.name}", cocktail_path(cocktail) %>
  </div>
<% end %>
</div>
