.banner {
    background-size: cover;
    background-position: center;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin-top: 16px;
    margin-bottom: 16px;
}

 .banner-lg {
       height: 540px;
    }

.banner-lg a {
    font-size: 16px;
    font-weight: lighter;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    text-decoration: underline;
}
